* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  
}


.logo {
    height: clamp(1em,2vw + 0.5em,2em);
}

.avatar {
    height: clamp(1em, 2vw + 0.5em, 2em);
    /* padding-right: 2rem; */
}

/* When position is fixed, the navbar div is overflowing and the avatar on the right is being hidden. */

.navbar {
    position: fixed;
    width: 100%;
    padding: clamp(.1em, 2vw + 0.3em, 1em);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color:rgb(20, 20, 20); */
    
}


/* .menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-link{
padding-right: 0.7rem;
cursor: pointer;
} */